.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;

}
.logo {
  font-size: 1.8em;
}
.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.social-icons img {
  width: 30px;
}
.social-icons li {
  list-style-type: none;
  cursor: pointer;
}
